<hr class="container-fluid text-center">
<div class="container-fluid text-center mb-3">
      <div class="d-flex justify-content-center">
            <a href="https://www.instagram.com/lorencd23/" style=" margin-left: 2px; margin-right: 1%; margin-top: 10px; margin-bottom: 10px;">
                  <img src="../../../assets/images/insta.png" style="width: auto; height: 25px;">
            </a>
            <a href="https://www.linkedin.com/in/lorenzo-gm/" style="margin-top: 9px; margin-bottom: 10px;">
                  <img src="../../../assets/images/linkedin.png" style="width: auto; height: 30px; ">
            </a>
      </div>
      <span>&copy; 2023</span>
</div>