#bigFrame1 {
      margin-top: 80px;
      width: auto;
      height: 70vh;
      padding: 0%;
      border-radius: 20px;
      text-align: center;
      overflow: hidden;
}

#bigFrame {
      margin-top: 5%;
      width: auto;
      height: 70vh;
      padding: 0%;
      border-radius: 20px;
      text-align: center;
      overflow: hidden;
}

#bigFrame1 #Nature{
      margin-top: -45%;
      color: aliceblue;
}

#bigFrame #Architecture {
      margin-top: -45%;
      color: aliceblue;
}

#bigFrame #Portrait{
      margin-top: -45%;
      color: aliceblue;
}

#bigFrame1 img {
      z-index: 0;
      width: 100%;
      transition: 0.5s all ease-in-out;
}

#bigFrame1:hover img{
      transform: scale(1.2);
      cursor: pointer;
}

#bigFrame1:hover h1{
      z-index: 100;
      cursor: pointer;
}

#bigFrame img {
      width: 100%;
      transition: 0.5s all ease-in-out;
}

#bigFrame:hover img{
      transform: scale(1.2);
      cursor: pointer;
}

#bigFrame:hover h1{
      cursor: pointer;
}
