.bigFrame {
      margin-top: 5%;
      width: auto;
      height: 60vh;
      padding: 0%;
      border-radius: 20px;
      text-align: center;
      overflow: hidden;
}

.bigFrame:first-child {
      margin-top: 80px;
}

#Nature {
      position: relative;
      left: 50%;
      transform: translate(-50%, -150%);
      color: aliceblue;
}
#Architecture {
      position: relative;
      left: 50%;
      transform: translate(-50%, 70%);
      color: aliceblue;
}
#Portrait {
      position: relative;
      left: 50%;
      transform: translate(-50%, 70%);
      color: aliceblue;
}

.bigFrame h1:first-of-type {
      margin-top: -45%;
}

.bigFrame img {
      width: 100%;
      transition: 0.5s all ease-in-out;
}

.bigFrame:hover img{
      transform: scale(1.2);
      cursor: pointer;
}

.bigFrame:hover h1{
      cursor: pointer;
}

@media only screen and (width < 912px ) {
      .bigFrame {
            max-height: 30vh;
      }
}

@media only screen and (width < 780px) {
      #Nature{
            transform: translate(-50%, -10%);
      }

      .bigFrame {
            max-width: 90%;
      }

      .bigFrame.bigFrame:first-child {
            max-height: 29.5vh;
      }

}