<!-- NATURALEZA APART -->
<div id="bigFrame" class="container" (click)="listarImagenes('Nature')">
  <img src="https://i.postimg.cc/Hkt4ggtg/100-4235.png">
  <h1 class="align-middle" id="Nature">Naturaleza</h1>
</div>

<!-- ARQUITECTURA APART -->
<div id="bigFrame" class="container" (click)="listarImagenes('Architecture')">
  <img src="https://i.postimg.cc/mZKVcbJG/PICT5515.jpg">
  <h1 class="align-middle" id="Architecture">Arquitectura</h1>
</div>

<!-- RETRATOS APART -->
<div id="bigFrame" class="container" (click)="listarImagenes('Portrait')">
  <img src="https://i.postimg.cc/bYx6DGcf/22-A-00277.jpg">
  <h1 class="align-middle" id="Portrait">Retratos</h1>
</div>


